@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family-title: "Poppins", serif;
    --color-primary: #6830eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: "           ";
}

header {
    display: flex;
    justify-content: space-between;
}

.logo-group {
    display: flex;
    align-items: center;
    gap: 10px;

    & .website-logo {
        width: 50px;
        height: 50px;
    }

    & .website-name {
        font-family: var(--font-family-title);
        font-size: 1.4em;
        font-weight: 600;
        color: var(--color-primary);
    }
}