@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --font-family-title: "Lilita One", sans-serif;
    --font-family-text: "Inter", sans-serif;
    --color-primary: #687EFF;
    --color-primary-dark: #5365cc;
    --color-primary-light: #778bff;
    --color-dark: #232323;
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #bbbbbb;
    --border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6em;
}

/* ---------- General ---------- */

body {
    font-family: var(--font-family-text);
    font-size: 16px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.theme-light {
    background-color: var(--color-white);
    color: var(--color-dark);

    & .link {
        color: var(--color-black);
    }

    & .link:hover {
        color: var(--color-primary);
    }
}

.theme-dark {
    background-color: var(--color-dark);
    color: var(--color-white);

    & .link {
        color: var(--color-white);
        transition: color 0.3s ease;
    }

    & .link:hover {
        color: var(--color-primary);
    }
}

.layout {
    max-width: 75em;
    margin: 0 auto;
}

.divider {
    height: 1px;
    background-color: var(--color-white);
}

/* ---------- End General ---------- */

/* ---------- Button and Link ---------- */

.button-primary {
    font-family: var(--font-family-text);
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius);
    padding: 10px;
    color: var(--color-white);
    background-color: var(--color-primary);
    transition: all 0.3s ease;
}

.button-primary:hover {
    background-color: var(--color-primary-dark);
    cursor: pointer;
}

.button-primary-outline {
    font-family: var(--font-family-text);
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius);
    padding: 10px;
    color: var(--color-primary);
    background-color: transparent;
    transition: all 0.3s ease;
}

.button-primary-outline:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
}

/* ---------- End Button and Link ---------- */

/* ---------- Header ---------- */

.header-section .layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0;
}

.logo-group {
    display: flex;
    align-items: center;
    gap: 10px;

    & .website-logo {
        width: 50px;
        height: 50px;
    }

    & .website-name {
        font-family: var(--font-family-text);
        font-size: 2em;
        font-weight: 900;
        letter-spacing: 2px;
        color: var(--color-primary);
    }
}

.header-navbar-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* ---------- End Header ---------- */

/* ---------- Main ---------- */

.landing-section {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 45px;
    margin: 50px 0;
    align-items: center;
}

.landing-section-title {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 2.2em;
    font-weight: 800;

    & .greeting-icon {
        width: 45px;
        height: 45px;
    }
}

.landing-section-title span {
    color: var(--color-primary);
}

.landing-section-text {
    margin-top: 30px;
    font-size: 1.1em;
}

.landing-section-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;

}

.landing-section-right {
    display: flex;
    align-items: flex-start;
    
}

/* ---------- End Main ---------- */

/* ---------- About Me ---------- */

.about-me-section {
    margin: 64px 0;
}

.about-me-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.about-me-section-body {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 40px;
    margin-top: 50px;
}

.lottie-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-me-section-body-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.skill-title {
    color: var(--color-primary);
}

/* ---------- End About Me ---------- */


/* ------------ Loader ------------ */

.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader::after {
      content: "";
      border: 16px solid var(--color-gray);
      border-radius: 50%;
      border-top: 16px solid var(--color-primary);
      width: 60px;
      height: 60px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
  }
  
  .loader--hidden {
      opacity: 0;
      visibility: hidden;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }